/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.certified {
  display: flex;
  justify-content: center;
  align-items: start;
  justify-content: center;
}

.general {
  max-width: 842px;
  max-height: 595px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  .background-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
      z-index: -1;
    }
  }

  .qr-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    z-index: 1;
  }

}

.divider-content{
  display: flex;
  align-content: center;
  justify-content: center;

  .divider {
    align-items: center;
    border-bottom: 1px solid #3c3e3ebb; /* Puedes ajustar el grosor y el color */
    margin: 7px 0;
    width: 40%; /* Añade margen para separar el contenido */
  }
}

.certified-print {
  justify-content: center;
  align-items: start;
  justify-content: center;
  width: 842px;
  height: 595px;
}

.non-page {
  background-color: rgb(39, 107, 134);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }
}